<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AltaServlet</servlet-name>
        <servlet-class>servlet.AltaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCliServlet</servlet-name>
        <servlet-class>servlet.FormCliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCliBajaServlet</servlet-name>
        <servlet-class>servlet.FormCliBajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pideNumSocioServlet</servlet-name>
        <servlet-class>servlet.pideNumSocioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pideNumSocioModificacionServlet</servlet-name>
        <servlet-class>servlet.pideNumSocioModificacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCliModificacionServlet</servlet-name>
        <servlet-class>servlet.FormCliModificacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaServletN</servlet-name>
        <servlet-class>servlet.ModificaServletN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>servlet.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>servlet.InicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaServlet</servlet-name>
        <url-pattern>/AltaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCliServlet</servlet-name>
        <url-pattern>/FormCliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCliBajaServlet</servlet-name>
        <url-pattern>/FormCliBajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pideNumSocioServlet</servlet-name>
        <url-pattern>/pideNumSocioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pideNumSocioModificacionServlet</servlet-name>
        <url-pattern>/pideNumSocioModificacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCliModificacionServlet</servlet-name>
        <url-pattern>/FormCliModificacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaServletN</servlet-name>
        <url-pattern>/ModificaServletN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/InicioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
